<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>

    <div class="tren">
        <div class="noidung">
            <h1>100% FRESH & NATURAL</h1>
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
                click me to add your own content and make changes to the font. I’m a great place for you to tell a story
                and let your users know a little more about you.</p>
            <button class="button">
                Start your cleanse
            </button>
        </div>
        <div class="anh">
            <img src="https://static.wixstatic.com/media/41d000_01faf9a3142645a9bd6bd9d41bcc92f6.png/v1/fill/w_321,h_178,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/41d000_01faf9a3142645a9bd6bd9d41bcc92f6.png"
                alt="">
            <img src="https://static.wixstatic.com/media/41d000_adbca037945f08bde738b5677e409e4a.png/v1/fill/w_169,h_493,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/41d000_adbca037945f08bde738b5677e409e4a.png"
                alt="">
            <img src="https://static.wixstatic.com/media/41d000_3c9e626fff2be9f1cd32b67a42cc0678.png/v1/fill/w_173,h_94,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/41d000_3c9e626fff2be9f1cd32b67a42cc0678.png"
                alt="">
        </div>
    </div>
    <div class="duoi">
        <div class="anh_2">
            <img src="https://static.wixstatic.com/media/41d000_113ac45eb5bc7cb50aa5cf71b21c29b4.png/v1/fill/w_464,h_387,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/41d000_113ac45eb5bc7cb50aa5cf71b21c29b4.png"
                alt="">
            <img src="https://static.wixstatic.com/media/41d000_38c8fd297b8c3d0684c480bf68ab228d.png/v1/fill/w_163,h_483,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/41d000_38c8fd297b8c3d0684c480bf68ab228d.png"
                alt="">
            <img src="https://static.wixstatic.com/media/41d000_894e50fdf58ebd8e57985170f3a7c7e6.png/v1/fill/w_138,h_152,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/41d000_894e50fdf58ebd8e57985170f3a7c7e6.png"
                alt="">
        </div>
        <div class="noidung_2">
            <h1>100% FRESH & NATURAL</h1>
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
                click me to add your own content and make changes to the font. I’m a great place for you to tell a story
                and let your users know a little more about you.</p>
            <button class="button">
                Start your cleanse
            </button>
        </div>

    </div>


</body>

</html>